@font-face {
    font-family: 'PFDinTextCondProLight';
    src: url('fonts/PFDinTextCondProLight.eot');
    src: url('fonts/PFDinTextCondProLight.eot') format('embedded-opentype'),
         url('fonts/PFDinTextCondProLight.woff2') format('woff2'),
         url('fonts/PFDinTextCondProLight.woff') format('woff'),
         url('fonts/PFDinTextCondProLight.ttf') format('truetype'),
         url('fonts/PFDinTextCondProLight.svg#PFDinTextCondProLight') format('svg');
}
